@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset {
    margin-bottom: 1em !important;
    border: 1px solid #666 !important;
    padding:1px !important;
    border-radius: 5px;
}

legend {
    padding: 1px 10px !important;
    margin-left: 10px;
    float:none;
    width:auto;
    color: #6C25FF;
}
input{
    border:none;
    outline: none;
    background-color: transparent;
}
